*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: rgb(0, 0, 0); */
}

/* ********************* NAV STYLING *********** */
.nav-1{
    display: flex;
    height: 100px;
    /* background-color: rgb(116, 72, 16); */
    background: rgb(147,0,97);
    background: linear-gradient(75deg, rgba(147,0,97,1) 0%, rgba(27,228,216,1) 100%);
    background-color: transparent;
    justify-content: space-between;
    padding: 0 150px;
    align-items: center;
    
}
.element-1 , .element-2,.links{
    cursor: pointer;
}
.element-2,.links{
    display: flex;
    gap: 40px;
    color: white;
}
.links{
    align-items: center;
    font-size: 17px;
}
.links span{
    
    transition: all 0.3s ease;

}
.links span:hover{
    color: rgb(169, 12, 125);
}
 .book-table{
    border: 2px solid white;
    padding: 15px 25px;
}

.links span:first-child{
    color: rgb(169, 12, 125);
    font-weight: bold;
}
 
.book-table{
    background-color: transparent;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease; 
}
.book-table:hover{
    background-color: white; /* Box background becomes white */
    color:black; /* Text background becomes transparent */
}

/* ******************* HERO STYLING**************** */

.hero{
    background:url('image/background.jpg'); 
    background-size: cover;
    background-position: top; 
    background-repeat: no-repeat;
    height: 100vh;    
    display: flex;
    align-items: center;
    padding-left: 15cap;
    color: white;
}

.t-border{
    background-color: white;
    width: 60px;
    height: 3px;
    border-radius: 5px;
}
.hero .hero-container{

    display: flex;
    flex-direction: column;
    gap: 40px;
}
.text-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.text-container h1{
    font-size: 55px;
}
.text-container p span{
    background-color:rgb(169, 12, 125);
    padding: 0 3px;

}

.next-elements{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.next-elements span{
    font-size: 22px;
    font-weight: bold;
}
.next-elements .book-table2{
    border: 2px solid white;
    padding: 15px 25px;
    background-color: white; 
    font-weight: bold;
    color:black;
    transition: all 0.3s ease;
}
.book-table2:hover{
    background-color: transparent;
    color: white;
}